[Desktop Entry]
Comment[it_IT]=Run shell scripts from folder
Comment=Run shell scripts from folder
Exec=env 'QT_LOGGING_RULES=*=false' /home/dist/run_shell_scripts '>' /dev/null
GenericName[it_IT]=Run Shell Scripts
GenericName=Run Shell Scripts
Icon=/home/dist/run_sh.png
MimeType=
Name[it_IT]=Run Shell Scripts
Name=Run Shell Scripts
Path=/home/dist/
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
